body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );

}

/* Global */
/* Menu */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}
h3{
  padding-left: 46%;
  color: pink;
}
h2{
  color: gray;
  padding-left: 50%;

}
#newsletter{
  float: center;

}

 #newsletter .one {
  padding-left: 35%;
}



/* Button */
.next{
  height:38px;
  background:#e8491d;
  /* border:0; */
  border: 1%;
  float: center;
  border-radius: 15%;
  margin-bottom: 1%;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
  padding-bottom: -5px;

}
.startRecordingButton{
  height:38px;
  background:#e8491d;
  border:1%;
  border-radius: 15%;
  margin-bottom: 1%;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
.stopRecordingButton{
  height:38px;
  background:#e8491d;
  border:1%;
  border-radius: 15%;
  margin-bottom: 1%;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}
/* Button */



/* Menu */
/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}
/* Menu End */

.instruction{
  text-decoration: underline;
  color: pink;
}


/* Showcase */
#showcase{
  min-height:400px;
  background:url('../images/showcase.jpg') no-repeat;
  text-align:justify;
  color:#ffffff;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

#showcase ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
li{
  padding: 1%;
}

/* Lagbe */

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
}


/* Boxes */
#boxes{
  margin-top:10px;
  padding-left: 30%;
}

#boxes .box{
  float:center;
  text-align: center;
  width:30%;
  padding:10%;
}

/* Recording List */
.box{
  /* padding-left: 50%; */
}
#boxes ul{
  background: pink;
  display: inline-block;
  list-style: none;
}
#log{

}


/* Recording List */
/* Footer */
footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#e8491d;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }
#boxes{
  max-width: 100%;
}
  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{

    display:block;
    width:100%;

  }

}
